<form class="form-inline float-right">
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="text" class="form-control" id="inputPassword2" placeholder="Name or Mobile/Landline">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>

<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">
      <%=
        link_to "First Name", contacts_path(sort: 'first_name', direction: (params[:direction] == 'asc' ? 'desc' : 'asc'))
      %>
    </th>
    <th scope="col">
      <%=
        link_to "Last Name", contacts_path(sort: 'last_name', direction: (params[:direction] == 'asc' ? 'desc' : 'asc'))
      %>
    </th>
    </th>
    <th scope="col">Created at</th>
    <th scope="col">View count</th>
  </tr>
  </thead>
  <tbody>
    <%= render partial: "contact", collection: @contacts %>
  </tbody>
</table>